.i-1 {
  font-family: "Montserrat", sans-serif;
  height: 43px;
  width: 300px;
  padding-left: 40px;
  background-color: #D8E6ED;
  border: 0;
  border-radius: 49px;
}
.nav { 
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding-top: 0.5rem;
  background-color: #FAFAFA;
  height: 70px;
}
.logo {
  height: 60px;
  margin-left: 6rem;
}
.search {
  height: 25px;
  position: absolute;
  margin-left: 0.5rem;
  margin-top: 0.55rem;
}
.searchbar{
  margin-top: 0.5rem;
  margin-left: 1rem;
}
.work,.talent {
  height: 48px;
  
}
.notif{
  margin-left: 0.3rem;
  height: 49px;
}
.p1,.p2,.p3{ 
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}
.p3 {
  margin-left: 0.4rem;
  width: 60px;
}
.p2{
  width: 62px;
}
.con,.msg{ 
  height: 48px;
}
.find_talent, .find_work,.connect,.message,.notification {
  margin-left: 2.5rem;
}
.p4{
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  width: 20px;
  margin-left: 1rem;
  font-weight: 600;
}
.prof {
  height: 50px;
}
.profile{
  margin-left: 12rem;
}
.main {
  height: fit-content;
  background-color: #D8E6ED;
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
}
.box-1 { 
  display: flex;
  flex-direction: column;
  height: 380px;
  width: 300px;
  background-color: #FAFAFA; 
  border: 0;
  border-radius:10px ; 
}
.title {
  text-align: center;
}
.pfp{ 
  height: 55px;
  width: 55px;
  position: absolute;
  margin-top: 1.8rem;
  margin-left: 7.5rem;
}
.wp {
  height: 60px;
  width: 300px;
  border-top-left-radius:10px ; 
  border-top-right-radius: 10px;
}
.bp-1{
  margin-top: 1.5rem;
  font-weight: 600;
  font-size: 22px;  
}
.bp-2{ 
  font-size: 10px;
  margin-bottom:1rem ;
}
.box1-part2{
  padding-top: 1rem;
  border-top: 1px;
  border-style: solid;
  border-left-color: #FAFAFA;
  border-right-color: #FAFAFA;
  border-top-color:#D8E6ED;
  border-bottom-color: #D8E6ED;
  padding-bottom: 1rem;
}
.bp-3{ 
  font-size: 16px;
  line-height: 2rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.box1-part3 {
  font-size: 18px;
  margin-top: 1.6rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.coin {
  height: 15px;
  margin-left: 0.5rem;
 
}
.bookmark {
  height: 20px;
  margin-right: 1rem;
}
.left {
  margin-left: 6rem;
  margin-top: 2rem
}
.box-3,.box-2{ 
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 300px;
  background-color: #FAFAFA; 
  border: 0;
  border-radius:10px ; 
  margin-top: 1rem;
}
.market{
  margin-left: 2rem;
  margin-top: 1rem;
  height: 55px;
}
.card {
  margin-left: 2rem;
  margin-top: 1.3rem;
  height: 45px;
}
.b-2,.b-3 {
  margin-top: 1.4rem;
  margin-left: 0.5rem;
}
.box2-p1,.box3-p1 {
  font-weight: 600;
}
.box2-p2,.box3-p2{
  font-size: 13px;
}
.right {
  margin-left: 2rem;
  margin-top: 2rem
}
.r-box-1{
  height: 120px;
  width: 950px;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: row;
  border-radius:10px ; 
}
.i-2{
  font-family: "Montserrat", sans-serif;
  margin-left: 0.5rem;
  height: 45px;
  width: 700px;
  border-radius: 40px;
  border-color: #D8E6ED;
  border-style: solid;
  border-width:1px;
  padding-left: 1.5rem;
}
.post {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.profile1{ 
  height: 70px;
  margin-top: 1rem;
  margin-left: 3rem;
}
.t-1{
  margin-top: 0.6rem;
  font-size: 13px;
  margin-left: 2rem;
  
}
.hr-1{
  margin-top: 1.4rem;
  margin-bottom: 0.5rem;
}
.history {
  display: flex;
  flex-direction: row;
  font-size: 15px;
}
.curr {
  margin-right: 0.5rem;
  font-weight: 600;
  
}
.past {
  margin-left: 0.5rem;
}
.rb-top { 
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
  
}
.r-box-2,.r-box-3{
  width: 950px;
  height: 330px;
  background-color: #FAFAFA;
  flex-direction: row;
  border-radius:10px ; 
  margin-top: 1rem;
}
.rb-pfp {
  height: 70px;
  padding-top: 1rem;
}
.rb-title{
  margin-top: 1.2rem;
  margin-left: 1rem;
}
.rb-name{
  font-weight: 600;
}
.rb-def{
  font-size: 12px;
}
.flw {
  font-size:14px;
  margin-top: 1.2rem;
  color: #4285F4;
  font-weight: 700;
  margin-left: 27rem;
  margin-right: 0.7rem;
}
.heart {
  margin-top: 1.1rem;
}
.rb-mid {
  margin-top: 0.3rem;
  margin-left: 3.4rem;
}
.rb-m-tit{
  font-size: 20px;
  font-weight: 500;
}
.rb-m-des{ 
  font-size: 10px;
}
.rb-m-body {
  margin-top: 1rem;
  font-size: 14px;
}
.rb-mid-icon {
  margin-left: 3.3rem;
  margin-top: 0.6rem;
  display: flex;
  flex-direction: row;
}
.icon-1{
  height: 25px;
  width: 150px;
  background-color: #D8E6ED;
  margin-right: 2rem;
  font-size: 13px;
  text-align: center;
  font-weight: 600;
  padding-top: 10px;
  border-radius: 30px;
}
.rb-mid-end{
  margin-left: 3.4rem;
}
.rb-m-t{
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  font-size: 13px;
}
.rb-m-t1{
  margin-right: 7rem;
}
.rb-m-e{
  font-size: 10px;
}
.rb-end-i{
  display: flex;
  flex-direction: row;
  margin-left: 3.4rem;
  margin-top: 1.3rem;
}
.rb-end-icon1 {
  margin-right: 13rem;
  font-size: 16px;
  display: flex;
  flex-direction: row;
}